/* 隐藏默认箭头的文本 */
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

/* 自定义箭头 */
.swiper-button-next,
.swiper-button-prev {
  width: 40px; /* 按钮宽度 */
  height: 40px; /* 按钮高度 */
  background-size: contain; /* 确保图片在容器中完全显示 */
  background-repeat: no-repeat; /* 不重复图片 */
  background-position: center; /* 图片居中显示 */
}

.swiper-button-next {
  background-image: url('../image/箭頭.png');
}

.swiper-button-prev {
  background-image: url('../image/箭頭.png');
  transform: rotate(180deg);
}

.swiper{
  z-index: 0;
}
